<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PreviewDemo.Login" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <PreviewDemo.Login>
            <setting name="IP" serializeAs="String">
                <value>192.168.1.1</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>8000</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="Stream_id" serializeAs="String">
                <value />
            </setting>
            <setting name="lChannel" serializeAs="String">
                <value>1</value>
            </setting>
        </PreviewDemo.Login>
    </applicationSettings>
</configuration>